@font-face{
	font-family: "Raleway-Bold";
	src: url(Raleway/Raleway-Bold.ttf);
}

@font-face {
	font-family: "Raleway-Regular";
	src: url(Raleway/raleway-Regular.ttf);
}

body{
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1400px;
	margin: auto;
}

body >*{
	width: 95%;
}
h1{
	font-family: "Raleway-Bold";
	font-size: 22px;
}

h2{
	font-family: "Raleway-Bold";
	font-size: 18px;
}

h3{
	font-family: "Raleway-Bold";
	font-size: 22px;
}

h4{
	font-family: "Raleway-Bold";
}

p{
	font-family: "Raleway-Regular";
}

li{
	list-style: none;
}

span{
	font-family: "Raleway-Bold";
}	

#sous_titre{
	margin-top: 8px;
}