/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: "Raleway-Bold";
	src: url(Raleway/Raleway-Bold.ttf);
}

@font-face {
	font-family: "Raleway-Semibold";
	src: url(Raleway/raleway-Regular.ttf);
}
body{
	max-width: 1400px;
	height: 1884px;
	margin: 0px;
}

h1{
	font-family: "Raleway-Bold";
	position: absolute;
	width: auto;
	height: 26px;
	top: 126px;
	left: 55px;
	font-size: 22px;
}

h2{
	font-family: "Raleway-Bold";
	font-size: 22px;
	width: auto;
	height: 26px;
	position: absolute;
	left: 40px;
	top: 42px;
}
h3{
	font-family: "Raleway-Bold";
	font-size: 16px;
}

h4{
	font-family: "Raleway-Bold";
}

p{
	font-family: "Raleway-Regular";
}

li{
	list-style: none;
}

/* HEADER */

header{
	display: flex;
	justify-content: flex-end;
	align-items: center;

	height: 111px;
	width: 1400px;
}
#booki{
	width: 61.09px;
	height: 19px;
	object-fit: cover;
}
header nav{
	margin-left: 900px;
}
header nav ul{
	display: flex;
	width: 381px;
	height: 19px;
	top: 48px;
	left: 982px;
	justify-content: flex-end;
	align-items: center;
}

header li{
	display: flex;
	width: 162px;
	height: 115px;
	flex-direction: row;	
}

#hebergement{
	width: 162px;
	height: 109px;
	align-items: center;
	justify-content: center;
	font-family: "Raleway-Regular"
}
#hebergement a{
	text-decoration: none;
	width: 113px;
	height: 19px;
	font-size: 18px;
}
#hebergement:hover{
	border-top: 2px solid #0065FC;
}

#activite{
	width: 162px;
	height: 109px;
	border: none;
	align-items: center;
	justify-content: center;
}
#activite a{
	text-decoration: none;
	font-size: 18px;
}
#activite:hover{
	border-top: 2px solid #0065FC;
}

/* MAIN */ 

#description{
	position: absolute;
	width: 296px;
	height: 19px;
	top: 160px;
	left: 55px;
	font-size: 16px;
	font-family: "Raleway-Regular";
}

/* FORM */ 

#point{
	position: absolute;
	display: flex;
	width: 50px;
	height: 49px;
	background: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 15px 0px 0px 15px;
	top: 199px;
	left: 55px;
	z-index: 1;
	align-items: center;
	justify-content: center;
}
#point i{
	position: absolute;
	display: flex;
	width: 14px;
	height: 18px;	
}
input{
	font-family: "Raleway-Bold";
	position: absolute;
	display: flex;
	width: 330px;
	height: 47px;
	border: 1px solid #f2f2f2;
	border-radius: 15px 0px 0px 15px;
	top: 199px;
	left: 55px;
	font-size: 18px;
	align-items: center;
	padding: 0px 0px 0px 66px;
}
#rechercher{
	position: absolute;
	width: 132px;
	height: 49px;
	background: #0065FC;
	top: 200px;
	left: 341px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0px 20px 20px 0px;
}
#rechercher a{
	text-decoration: none;
	font-size: 18px;
	color: white;
}

/* FILTRES */

#menu{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 914px;
	height: 50px;
	position: absolute;
	top: 280px;
	left: 62px;
}
#menu h4{
	width: 54px;
	height: 21px;
	font-size: 22px;
}
#menu nav ul{
	font-family: "Raleway-Bold";
	display: flex;
	justify-content: space-between;
	font-size: 17px;
}
#menu li{
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 2px solid #d9d9d9;
	border-radius: 25px;
	width: auto;
	height: auto;
	padding: 10px 10px 10px 10px;
	margin-left: 43px;
}
#menu li:hover{
	background: #DEEBFF;
}
li i{
	font-size: 22px;
	margin-right: 10px;
	color: #0065FC;
}

/* DESCRIPTON 2*/

#icone{
	font-size: 10px;
	margin-right: 11px;
	width: 24px;
	height: 24px;
	border: 1px solid #d9d9d9;
	border-radius: 50px 50px 50px 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #0065FC;
}

#description2{
	display: flex;
	align-items: center;
	top: 365px;
	left: 59px;
	position: absolute;	
}
#description2 p{
	width: 412px;
	height: 19px;
	font-size: 16px;
}

/* ELEMENTS PRINCIPAUX */ 

#logements{
	position: absolute;
	width: 1340px;
	height: 626px;
	top: 426px;
	left: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* Hébergements */

#hebergements{
	position: absolute;
	width: 880px;
	height: 626px;
	display: flex;
	background: #f2f2f2;
	border-radius: 20px;
	flex: 2;
}

#hebergements h4{
	position: absolute;
	width: 107px;
	height: 21px;
	left: 41px;
	top: 559px;
	font-size: 18px;
	color: black;
	text-decoration: none;
}

#cadre_resultat{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 800px;
	height: 428px;
	position: absolute;
	left: 40px;
	top: 91px;
	gap: 30px;

}
.resultat a{
	text-decoration: none;
	color: black;
}
.resultat{
	display: flex;
	flex-direction: column;
	width: 246px;
	height: 199px;
	border-radius: 20px;
	box-shadow: 4px 4px 8px 4px rgb(0,0,0,0.1);
	background: white;
}
.resultat img{
	width: 236px;
	height: 114px;
	border-radius: 20px 20px 0px 0px;
	border: 5px solid #FFFFFF;
	object-fit: cover;
}
.text h3{
	font-size: 16px;
	width: 204px;
	height: 15px;
	margin: 4px 0px 0px 16px;
}
.text{
	border-radius: 0px 0px 20px 20px;
	width: 246px;
	height: 75px;
	background: white;
	line-height: 16px;
}
.text P{
	width: 204px;
	height: 15px;
	margin: 9px 0px 0px 16px;
}
.star{
	display: flex;
	color: #0065FC;
	font-size: 12px;
	position: relative;
	left: 15px;
	bottom: -15px;
}
.star :nth-child(5n){
	color: #f2f2f2;
}

/* Afficher plus */

#bottom a{
text-decoration: none;
font-size: 18px;
position: absolute;
width: 107px;
height: 21px;
left: 94px;
top: 559px;
}

/* Populaires */

#populaires{
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 420px;
	height: 625px;
	background: #f2f2f2;
	border-radius: 20px;
	justify-content: space-around;
	align-items: center;
	flex: 1;
	right: 0px;
}
#populaires h2{
	font-size: 22px;
	width: auto;
	height: 26px;
	display: flex;
}

#cadre_populaire{
	position: absolute;
	width: 343px;
	height: 498px;
	top: 93px;
	left: 37px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#populaires h2 i{
	font-size: 18px;
	color: #0065FC;	
	align-items: center;
	margin-left: 118px;

}
.carte_populaire{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	width: 343px;
	height: 144px;
	background: #FFFFFF;
	border-radius: 20px;
	box-shadow: 4px 4px 8px 4px rgb(0,0,0,0.1);
}
.carte_populaire a{
	display: flex;
	flex-direction: row;
	text-decoration: none;
	color: black;
}
.carte_populaire img{
	width: 127px;
	height: 134px;
	border: 5px solid white;
	border-radius: 20px 0px 0px 20px;
	object-fit: cover;
}
.texte_populaire{
	width: 206px;
	height: 144px;
	line-height: 19px;
}
.texte_populaire h3{
	width: 169px;
	height: auto;
	margin: 16px 0 0 16px;
}
.texte_populaire p{
	width: 169px;
	height: 15px;
	margin: 7px 0 0 16px;	
}
.texte_populaire .star{
	position: relative;
	bottom: -45px;
}

.texte_populaire .star2{
	display: flex;
	color: #0065FC;
	font-size: 12px;
	position: relative;
	left: 15px;
	bottom: -65px;
}
.star2 :nth-child(5n){
	color: #f2f2f2;
}

/* Activités */ 

#cadre_activite{
	display: flex;
	justify-content: space-between;
	height: 445px;
	width: 1337px;	
}
#activites{
	position: absolute;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	width: 1337px;
	height: 493px;
	top: 1112px;
	left: 50px;	
}
#activites h2{
	display: block;
	position: absolute;
	width: 212px;
	height: 30.02px;
	top: 0px;
	left: 0px;
}
.activites{
	width: 302px;
	height: 444.51px;
	display: flex;
}
.activites img{
	width: 302px;
	height: 444.51px;
	border-radius: 20px;
	object-fit: cover;	
	box-shadow: 4px 4px 8px 4px rgb(0,0,0,0.1);
}
.activites div{
	width: 302px;
	height: 56px;
	background: white;
	border-radius: 0px 0px 20px 20px;
	position: absolute;
	bottom: 0;
	font-size: 16px;
	display: flex;
	justify-content: left;
	align-items: center;
}
.activites div p{
	margin-left: 19px;
	font-family: "Raleway-Bold";
}

/* FOOTER */

footer{
	display: flex;
	position: absolute;
	left: 48px;
	top: 1666px;
	width: 1339px;
	height: 225px;
	background: #f2f2f2;
	justify-content: space-around;
	align-items: flex-start;
}

footer div{
	display: flex;
	flex-direction: column;	
	width: 33%;
	position: relative;
	left: 70px;
	top: 45px;
}
footer h4{
	font-size: 18px;
	margin-bottom: 4px;
}
footer li{
	width: auto;
	height: 19px;
	margin-top: 12px;
}
footer a{
	text-decoration: none;
		
	color: black;
}	




