/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: "Raleway-Bold";
	src: url(Raleway/Raleway-Bold.ttf);
}

@font-face {
	font-family: "Raleway-Semibold";
	src: url(Raleway/raleway-Regular.ttf);
}

h1{
	font-family: "Raleway-Bold";
	width: auto;
	font-size: 22px;
}

h3{
	font-family: "Raleway-Bold";
	font-size: 22px;
	width: auto;
	height: 26px;
}
h2{
	font-family: "Raleway-Bold";
	font-size: 18px;
}

h4{
	font-family: "Raleway-Bold";
}

p{
	font-family: "Raleway-Regular";
}

li{
	list-style: none;
}

body{
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1400px;
	margin: auto;
}

body >*{
	width: 95%;
	margin: auto;
}
/* HEADER */

header{
	display: flex;
	align-items: center;
	height: 111px;
}

#booki{
	width: 100%;
}
header img{
	width: 61.09px;
	height: 19px;
}

header nav ul{
	display: flex;
	width: 381px;
	height: 19px;
	top: 48px;
	left: 982px;
	justify-content: flex-end;
	align-items: center;
}

header li{
	display: flex;
	width: 162px;
	height: 115px;
	flex-direction: row;	
}

#hebergement{
	width: 162px;
	height: 109px;
	align-items: center;
	justify-content: center;
	font-family: "Raleway-Regular"
}
#hebergement a{
	text-decoration: none;
	width: 113px;
	height: 19px;
	font-size: 18px;
}
#hebergement:hover{
	border-top: 2px solid #0065FC;
}

#activite{
	width: 162px;
	height: 109px;
	border: none;
	align-items: center;
	justify-content: center;
}
#activite a{
	text-decoration: none;
	font-size: 18px;
}
#activite:hover{
	border-top: 2px solid #0065FC;
}

/* MAIN */ 

#description{
	width: 296px;
	height: 19px;	
	font-size: 16px;
	line-height: 19px;
	margin-top: 8px;
	font-family: "Raleway-Regular";
}

/* FORM */ 

form{
	display: flex;
	margin-top: 20px;
}
#point{
	display: flex;
	width: 50px;
	height: 49px;
	background: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 15px 0px 0px 15px;
	z-index: 1;
	align-items: center;
	justify-content: center;
}
#point i{
	display: flex;
	width: 14px;
	height: 18px;	
}
input{
	font-family: "Raleway-Bold";
	display: flex;
	width: 330px;
	height: 47px;
	border: 1px solid #f2f2f2;
	border-radius: 15px 0px 0px 15px;
	font-size: 18px;
	align-items: center;
	padding: 0px 0px 0px 66px;
	outline: none;
	position: relative;
	right: 50px;
}
#rechercher{
	width: 132px;
	height: 49px;
	background: #0065FC;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0px 20px 20px 0px;
	position: relative;
	right: 162px;
}
#rechercher a{
	text-decoration: none;
	font-size: 18px;
	color: white;
}

/* FILTRES */

#menu{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 914px;
	margin-top: 30px;
}
#menu h3{
	width: 54px;
	height: 21px;
	font-size: 22px;
}
#menu nav ul{
	font-family: "Raleway-Bold";
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	width: 820px;
}
#menu li{
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 2px solid #d9d9d9;
	border-radius: 25px;
	width: auto;
	padding: 10px 20px 10px 10px;
}
#menu li:hover{
	background: #DEEBFF;
}
li i{
	font-size: 22px;
	margin-right: 10px;
	color: #0065FC;
	padding-left: 10px;
}

/* DESCRIPTON 2*/

#icone{
	font-size: 10px;
	margin-right: 11px;
	width: 24px;
	height: 24px;
	border: 1px solid #d9d9d9;
	border-radius: 50px 50px 50px 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #0065FC;
}

#description2{
	display: flex;
	align-items: center;
	margin-top: 40px;	
}
#description2 p{
	font-size: 16px;
}

/* ELEMENTS PRINCIPAUX */ 

#logements{
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 40px;
}

/* Hébergements */

#hebergements{
	width: 63%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #f2f2f2;
	border-radius: 20px;
	flex: 2;
}

#hebergements h3{
	width: 90%;	
	text-align: left;
	margin-top: 40px;
}
#cadre_resultat{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 90%;
}
.resultat{
	display: flex;
	flex-direction: column;
	width: 30%;
	margin-top: 30px;
	border-radius: 20px;
	box-shadow: 4px 4px 8px 4px rgb(0,0,0,0.1);
	background: white;
}
.resultat a{
	text-decoration: none;
	color: black;
	border: 5px solid white;
	border-radius: 20px;
}

.resultat img{
	width: 100%;
	height: 114px;
	border-radius: 20px 20px 0px 0px;
	object-fit: cover;
}
.text{
	display: flex;
	flex-direction: column;
	border-radius: 0px 0px 20px 20px;
	width: 100%;
	height: 75px;
	background: white;
	line-height: 16px;
}
.text h4{
	font-size: 16px;
	width: 85%;
	margin: auto;
}

.text P{
	width: 85%;
	margin: auto;
}
.star{
	display: flex;
	color: #0065FC;
	font-size: 12px;
	width: 85%;
	margin: auto;	
	margin-bottom: 5px;
}
.star :nth-child(5n){
	color: #f2f2f2;
}
#afficher_plus{
	width: 90%;
	height: 21px;
	font-size: 18px;
	color: black;
	text-decoration: none;
	margin-top: 40px;
}

/* Populaires */

#populaires{
	display: flex;
	flex-direction: column;
	width: 33%;
	height: 625px;
	background: #f2f2f2;
	border-radius: 20px;
	justify-content: space-around;
	align-items: center;
	flex: 1;
}
#populaires h3{
	font-size: 22px;
	width: 80%;
	margin-top: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#populaires h3 i{
	font-size: 18px;
	color: #0065FC;	
}
#cadre_populaire{
	width: 80%;
	margin: auto;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 30px;
}
.carte_populaire{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	width: 100%;
	background: #FFFFFF;
	border-radius: 20px;
	box-shadow: 4px 4px 8px 4px rgb(0,0,0,0.1);
}
.carte_populaire a{
	width: 100%;
	display: flex;
	flex-direction: row;
	text-decoration: none;
	color: black;
	border: 5px solid white;
	border-radius: 20px;
}
.carte_populaire img{
	width: 40%;
	height: 144px;
	border-radius: 20px 0px 0px 20px;
	object-fit: cover;
}
.texte_populaire{
	width: 60%;
	height: auto;
	line-height: 19px;
	display: flex;
	flex-direction: column;
	align-items: stretch;	
}
.texte_populaire h4{
	width: 80%;
	margin: auto;
	margin-top: 16px;
}
.texte_populaire p{
	width: 80%;
	margin: auto;
	margin-top: 7px;	
}

/* Activités */ 

#activites{
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	margin-top: 60px;
}
#activites h3{
	font-size: 22px;
	width: auto;
	height: 30.02px;
}

#cadre_activite{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: auto;
	margin-top: 19px;	
}
.carte_activites{
	width: 23%;
	height: 444.51px;
}
.carte_activites a{
	text-decoration: none;
	color: black;
}
.carte_activites img{
	width: 100%;
	height: 444.51px;
	border-radius: 20px;
	object-fit: cover;	
	box-shadow: 4px 4px 8px 4px rgb(0,0,0,0.1);
}
.carte_activites div{
	width: 100%;
	height: 56px;
	background: white;
	border-radius: 0px 0px 20px 20px;
	position: relative;
	bottom: 59px;
	font-size: 16px;
	display: flex;
	justify-content: left;
	align-items: center;
}
.carte_activites div p{
	margin-left: 19px;
	font-family: "Raleway-Bold";
}

/* FOOTER */

footer{
	display: flex;
	align-items: flex-start;
	height: 225px;
	margin-top: 60px;
	background: #f2f2f2;
	
}

footer div{
	display: flex;
	flex-direction: column;	
	width: 33%;
	margin-left: 70px;
	margin-top: 45px;
}
footer h2{
	font-size: 18px;
	margin-bottom: 4px;
}
footer li{
	width: auto;
	height: 19px;
	margin-top: 12px;
}
footer a{
	text-decoration: none;
		
	color: black;
}	




