@media all and (max-device-width: 991px) and (min-device-width:768px) {

	#logements{
		flex-direction: column;
	}
	#populaires h3{
		width: 90%;
	}
	#cadre_populaire{
		width: 90%;
		flex-direction: row;
	}

	#menu{
		width: 100%;
	}

	#menu nav ul{
		width: 100%
	}
}
