@media screen and (max-device-width: 991px) and (min-device-width:768px) {

	#hebergement a, #activite a{
		font-size: 16px;
	}
	#logements{
		flex-direction: column;
	}
	#populaires h3{
		width: 90%;
	}
	#cadre_populaire{
		width: 90%;
		flex-direction: row;
	}

	#filtres{
		width: 100%;
	}
	#filtre h2{
		font-size: 18px;
	}
	#filtres nav{
		width: 100%
	}
}
